html {
    --color-accent: oklch(50% 0.09 225);
    color-scheme: light-dark;
}
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 25px;
  }
nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-bottom-color: var(--border-color);
    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
    }
    a.current {
        border-bottom: 0.4em solid;
        border-bottom-color: var(--border-color);
        padding: 0.5em;
        padding-bottom: 0em;
    }
    a:hover {
        border-bottom: 0.4em solid var(--color-accent);
        padding: 0.5em;
        padding-bottom: 0em;
        background-color: oklch(35% 0.07 225 / 40%);
    }
}
input, textarea, button, select {
    font: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    label {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
    }
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 2em;
    img {
        height: 166px;
        width: 333px;
    }
}
article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}
h2 {
    margin: 0;
}
h1 {
    font-size: 400%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}
section {
    h2 {
        padding-bottom: 5px;
        border-bottom: 2px solid;
    }
}
section#heading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    section#contact {
        justify-self: right;
        text-align: right;
    }
    margin-top: 1em;
    border-bottom: 7px solid;
    h1 {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 2px solid;
    }
}
section#objective {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
section#qualifications {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
}
label.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#home-projects-title {
    margin-top: 2em;
    margin-bottom: 1em;
}
#profile-stats {
    dl {
        display: grid;
        grid-template-columns: repeat(8, auto);
        justify-content: space-between;
        dt {
            border-left: 1px solid;
            border-left-color: var(--border-color);
            padding-left: 0.3em;
        }
        dd {
            border-right: 1px solid;
            border-right-color: var(--border-color);
            padding-right: 0.3em;
        }
    }
}
dl.stats {
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-content: space-between;
    margin-bottom: 2em;
    dt {
        border-left: 1px solid;
        border-left-color: var(--border-color);
        padding-left: 0.3em;
    }
    dd {
        border-right: 1px solid;
        border-right-color: var(--border-color);
        padding-right: 0.3em;
    }
}
#projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;

    overflow: visible;

    &:has(path:hover) {
        path:not(:hover) {
            opacity: 0.5;
        }
    }
    path {
        transition: 300ms;
        cursor: pointer;
    }
}
.container {
    display: flex;
    gap: 2em;
    align-items: center;
}
.legend {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 0.5em;
    border: 0.5px solid;
    padding: 0.9em;
    margin-bottom: 1.5em;
    flex: 1;
}
.swatch {
    height: 17px;
    width: 17px;
    background-color: var(--color);
    border-radius: 31%;
}
.legend-item {
    display: flex;
    align-items: center;
    gap: 0.25em;
}
.searchBar {
    margin-bottom: 1em;
    padding: 0.3em;
    width: 100%;
}
.selected {
    --color: oklch(83% 20% 280) !important;

    &:is(path) {
        fill: var(--color);
    }
}
svg {
    margin-top: 0.5em;
}
.gridlines {
    opacity: 0.17;
}
dl.info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    margin: 0;
    padding: 1.5em;
    dt {
        opacity: 0.75;
        font-size: 77%;
    }
    transition-duration: 500ms;
    transition-property: opacity, visibility;
}
dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}
.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    box-shadow: 2px 5px 13px 3px oklch(77% 0.015 240);
    backdrop-filter: blur(13px);
    font-size: 50%;
}
circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
    cursor: pointer;
}
circle:hover {
    transform: scale(1.5);
}
circle.selected {
    fill: #ff6b6b;
}
@keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
}
rect.selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
}
#slider-display {
    display: flex;
    flex: 1;
    align-items: baseline;
    #selected-time {
        margin-left: auto;
    } 
}